*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

header{
    display: block;
    unicode-bidi: isolate;
}

.head-top{
    background-color: rgb(250, 167, 12);
    min-width: 800px;
}

.head-top h2{
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.box{
    box-shadow: 10px 10px 20px 6px rgba(0, 0, 0, 1.5);
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    background-color: #ffdeb2;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 35px;
    color: #000;
    width: 700px;
    max-width: 800px;
    
}

.box-1{
    text-align: left;
}



.box h2{
    font-family: "Kanit", sans-serif;
}

.in{
    
    width: 150px;
    border-radius: 5px;

}

.result{
    color: white;
    background-image: linear-gradient(90deg, rgb(35, 50, 77) 20%, rgba(0, 0, 0, 1) 89%);
    padding: 10px;
    border-radius: 15px;
}

.box p{
    margin-top: 20px;
}

.box button{
    margin-top: 15px;
}

.re{
    padding: 5px;
    font-size: 10px;
    width: max-content;
    border-radius: 5px;
    background-color: #324362;
    color: white;
    transition-duration: 0.4s;
}

.ae{
    background-image: linear-gradient(90deg, rgba(218, 73, 55, 1) 0%, rgba(255, 223, 30, 1) 62%);
    color: black;
    transition-duration: 0.4s;
    padding: 8px;
    font-size: .7rem;
}

#v1{
    
    display: none;
   
}

#s1{
    
    display: none;
}

#t1{
    display: none;
}

.button-1{
    background-image: linear-gradient(90deg, rgb(132, 250, 102) 0%, rgba(255, 223, 30, 1) 62%);
    color: black;
    transition-duration: 0.4s;
    padding: 5px;
    border-radius: 5px;
}

.reset{
    background-image: linear-gradient(90deg, rgba(135, 161, 248, 0.966) 0%, rgb(248, 123, 123) 62%);
    color: black;
    transition-duration: 0.4s;
    padding: 5px;
    border-radius: 15px;
}


@media only screen and (max-width: 750px){
    .head-top{
        background-color: rgb(250, 167, 12);
        min-width: 800px;
    }

    .boxbig{
        min-width: 800px;
    }
    .box{
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }



   
}

button{
    margin: 5px;
}
